:root{

    --fonte1: Verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Roboto slab', serif;


    --cor1: #0f0c29;
    --cor2: #302b63;
    --cor3: #24243e;
    --cor4: rgba(250, 235, 215, 0.96);
}


body{
    height: 100dvh;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    color: white;
}



.login-conteudo{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.form{
  width: 50vw;
    margin-top: 10dvh;
}

.form-item{

}
.form-control:focus, .form-control:active{
    background-color: black;
    color: white;
}
.form-control{
    background-color: white;
    color: black;
}
.label-email, .label-senha{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: var(--cor1);
}


.send-button {
    margin-top: 5vh;
    background: none;
    width: 100%;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    border-color: black;
}

.send-button:hover{
    background: var(--cor3);
    box-shadow: 1px 1px;
}
.register_link{
    display: block;
    width: 100%;
}


.error{
    background-color: antiquewhite;
    color: red;
}
.sucess{
    background-color: rgba(48, 43, 99, 0.56);
    color: white;
}
.conteudo-container{
    height: 80dvh;
    width: 80dvw;
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
    border: 2px;
    color: black;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.app-container{
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightslategray;
    color: white;
}
.login-fundo{
    height: 100%;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 50px;

}

.login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    border-top-right-radius: 10px;
}
.app-fundo{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, var(--cor1), var(--cor2));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 50px;
    flex-direction: column;
    flex-wrap: wrap;
}
